.eye {
  color: var(--primary-color);
  position: absolute;
  user-select: none;
  cursor: pointer;
  right: 10px;
}
.input_area {
  color: var(--font-primary-color);
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.slice_input {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  border-radius: var(--border-radius-slice);
  font-family: var(--font-family);
  border: var(--slice-border) solid var(--primary-color);
  background-color: var(--primary-background-color);
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;
}
.slice_input_placeholder {
  color: var(--primary-color);
  position: absolute;
  transition: all 0.5s;
  user-select: none;
}
.slice_input_value {
  scale: 0.8;
  transform: translateY(-200%);
  transition: all 0.5s;
}
.required,
.required label,
.required input {
  border-color: var(--danger-color);
  --primary-color: var(--danger-color);
}

.disabled,
.disabled label {
  border-color: var(--disabled-color);
  cursor: not-allowed;
  pointer-events: none;
  color: var(--disabled-color);
  div {
    background-color: var(--primary-color-shade);
  }
}
.color_input {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.message {
  color: var(--danger-color);
  font-size: small;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(0.5deg);
  }
  50% {
    transform: translateX(5px) rotate(-0.5deg);
  }
  75% {
    transform: translateX(-3px) rotate(0.3deg);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  --primary-color: var(--danger-color);
  animation: shake 0.5s infinite; /* Establece la animación y su duración */
}
