.slice_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.slice_checkbox_container {
  width: fit-content;
}
.slice_checkbox {
  display: flex;
  align-items: center;
  user-select: none;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  user-select: none;
}
.checkbox_label {
  margin: 5px;
  font-family: var(--font-family);
  color: var(--font-primary-color);
}
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: var(--secondary-background-color);
  border: var(--slice-border) solid var(--primary-color);
  transition: all 0.3s;
  border-radius: var(--border-radius-slice);
  cursor: pointer;
}
.slice_checkbox input:checked ~ .checkmark {
  border: var(--slice-border) solid var(--success-color);
  background-color: var(--success-color);
  animation: pop 0.5s;
  animation-direction: alternate;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.slice_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.slice_checkbox .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.disabled {
  border-color: var(--disabled-color);
  background-color: var(--primary-color-shade);
  color: var(--disabled-color);
  cursor: not-allowed;
}
@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
.checkbox_label {
  margin-left: 5px;
  font-family: var(--font-family);
  color: var(--font-primary-color);
}
