.slice_switch {
  --button-width: calc(var(--button-height) * 2);
  --button-height: 1.8em;
  --toggle-diameter: calc(var(--button-width) / 3);
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 1.8em;
}

.slice_switch_container {
  width: fit-content;
}

.slice_switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.switch_label {
  margin: 5px;
  font-family: var(--font-family);
  color: var(--font-primary-color);
}

.slider {
  cursor: pointer;
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--secondary-background-color);
  border: var(--slice-border) solid var(--primary-color);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  transition: 0.3s all ease-in-out;
}

.slice_switch input[type="checkbox"]:checked + .slider {
  background-color: var(--success-color);
  border: var(--slice-border) solid var(--success-color);
}

.slice_switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
}

.slice_switch input[type="checkbox"] {
  display: none;
}

.disabled {
  border-color: var(--disabled-color);
  background-color: var(--primary-color-shade);
  color: var(--disabled-color);
  cursor: not-allowed;
}
