.slice_dropdown_label {
  cursor: default;
}
.slice_dropdown {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  display: flex;
  border-radius: var(--border-radius-slice);
  border: var(--slice-border) solid var(--primary-color);
  align-items: center;
}
.slice_dropdown .caret {
  margin-left: 10px;
  border-top-color: var(--primary-color-contrast);
}
.slice_dropbox {
  display: flex;
  flex-direction: column;
  border: var(--slice-border) solid var(--primary-color);
  list-style: none;
  font-family: var(--font-family);
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transition: 0s, opacity 0.3s;
  top: 100%;
  z-index: 1;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-slice);
  box-shadow: 0 0 10px 0 #00000050;
}
.slice_dropbox_open {
  overflow-y: scroll;
  min-height: min-content;
  max-height: 200px;
  visibility: visible;
  opacity: 1;
}
.slice_dropbox_open::-webkit-scrollbar {
  width: 5px;
}
.slice_dropbox_open::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--border-radius-slice);
}
.slice_dropbox {
  width: 100%;
}
.slice_dropbox_open div a {
  text-decoration: none;
  color: var(--primary-color-contrast);
  width: 100%;
}
.slice_dropbox_open div {
  width: 100%;
  padding: 5px;
}
