@font-face {font-family: "slc";
  src: url('slc.eot?t=1714090352079'); /* IE9*/
  src: url('slc.eot?t=1714090352079#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("slc.woff2?t=1714090352079") format("woff2"),
  url("slc.woff?t=1714090352079") format("woff"),
  url('slc.ttf?t=1714090352079') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('slc.svg?t=1714090352079#slc') format('svg'); /* iOS 4.1- */
}

[class^="slc-"], [class*=" slc-"] {
  font-family: 'slc' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slc-filaddress-book:before { content: "\ea01"; }
.slc-filadjustments-horizontal:before { content: "\ea02"; }
.slc-filadjustments-vertical:before { content: "\ea03"; }
.slc-filannotation:before { content: "\ea04"; }
.slc-filapple:before { content: "\ea05"; }
.slc-filarchive-arrow-down:before { content: "\ea06"; }
.slc-filarchive:before { content: "\ea07"; }
.slc-filarrow-right-alt:before { content: "\ea08"; }
.slc-filarrow-up-right-from-square:before { content: "\ea09"; }
.slc-filbackward-step:before { content: "\ea0a"; }
.slc-filbadge-check:before { content: "\ea0b"; }
.slc-filbell-active-alt:before { content: "\ea0c"; }
.slc-filbell-active:before { content: "\ea0d"; }
.slc-filbell-ring:before { content: "\ea0e"; }
.slc-filbell:before { content: "\ea0f"; }
.slc-filblender-phone:before { content: "\ea10"; }
.slc-filbook-open:before { content: "\ea11"; }
.slc-filbook:before { content: "\ea12"; }
.slc-filbookmark:before { content: "\ea13"; }
.slc-filbrain:before { content: "\ea14"; }
.slc-filbriefcase:before { content: "\ea15"; }
.slc-filbug:before { content: "\ea16"; }
.slc-filbuilding:before { content: "\ea17"; }
.slc-filbullhorn:before { content: "\ea18"; }
.slc-filcalendar-edit:before { content: "\ea19"; }
.slc-filcalendar-month:before { content: "\ea1a"; }
.slc-filcalendar-plus:before { content: "\ea1b"; }
.slc-filcalendar-week:before { content: "\ea1c"; }
.slc-filcamera-photo:before { content: "\ea1d"; }
.slc-filcaption:before { content: "\ea1e"; }
.slc-filcaret-down:before { content: "\ea1f"; }
.slc-filcaret-left:before { content: "\ea20"; }
.slc-filcaret-right:before { content: "\ea21"; }
.slc-filcaret-sort:before { content: "\ea22"; }
.slc-filcaret-up:before { content: "\ea23"; }
.slc-filcart-plus-alt:before { content: "\ea24"; }
.slc-filcart-plus:before { content: "\ea25"; }
.slc-filcart:before { content: "\ea26"; }
.slc-filcash:before { content: "\ea27"; }
.slc-filchart-mixed-dollar:before { content: "\ea28"; }
.slc-filchart-pie:before { content: "\ea29"; }
.slc-filcheck-circle:before { content: "\ea2a"; }
.slc-filcheck-plus-circle:before { content: "\ea2b"; }
.slc-filcircle-pause:before { content: "\ea2c"; }
.slc-filcircle-plus:before { content: "\ea2d"; }
.slc-filclapperboard-play:before { content: "\ea2e"; }
.slc-filclipboard-check:before { content: "\ea2f"; }
.slc-filclipboard-list:before { content: "\ea30"; }
.slc-filclipboard:before { content: "\ea31"; }
.slc-filclock:before { content: "\ea32"; }
.slc-filclose-circle:before { content: "\ea33"; }
.slc-filcloud-arrow-up:before { content: "\ea34"; }
.slc-filcode-branch:before { content: "\ea35"; }
.slc-filcode-fork:before { content: "\ea36"; }
.slc-filcode-merge:before { content: "\ea37"; }
.slc-filcode-pull-request:before { content: "\ea38"; }
.slc-filcog:before { content: "\ea39"; }
.slc-filcolumn:before { content: "\ea3a"; }
.slc-filcomputer-speaker:before { content: "\ea3b"; }
.slc-filcredit-card:before { content: "\ea3c"; }
.slc-filcss:before { content: "\ea3d"; }
.slc-fildatabase:before { content: "\ea3e"; }
.slc-fildesktop-pc:before { content: "\ea3f"; }
.slc-fildiscord:before { content: "\ea40"; }
.slc-fildownload:before { content: "\ea41"; }
.slc-fildraw-square:before { content: "\ea42"; }
.slc-fildribbble:before { content: "\ea43"; }
.slc-fildropbox:before { content: "\ea44"; }
.slc-filedit:before { content: "\ea45"; }
.slc-filenvelope-open:before { content: "\ea46"; }
.slc-filenvelope:before { content: "\ea47"; }
.slc-filexclamation-circle:before { content: "\ea48"; }
.slc-fileye-slash:before { content: "\ea49"; }
.slc-fileye:before { content: "\ea4a"; }
.slc-filface-explode:before { content: "\ea4b"; }
.slc-filface-grin-stars:before { content: "\ea4c"; }
.slc-filface-grin:before { content: "\ea4d"; }
.slc-filface-laugh:before { content: "\ea4e"; }
.slc-filfacebook:before { content: "\ea4f"; }
.slc-filfile-chart-bar:before { content: "\ea50"; }
.slc-filfile-check:before { content: "\ea51"; }
.slc-filfile-circle-plus:before { content: "\ea52"; }
.slc-filfile-clone:before { content: "\ea53"; }
.slc-filfile-code:before { content: "\ea54"; }
.slc-filfile-copy-alt:before { content: "\ea55"; }
.slc-filfile-copy:before { content: "\ea56"; }
.slc-filfile-csv:before { content: "\ea57"; }
.slc-filfile-export:before { content: "\ea58"; }
.slc-filfile-image:before { content: "\ea59"; }
.slc-filfile-import:before { content: "\ea5a"; }
.slc-filfile-invoice:before { content: "\ea5b"; }
.slc-filfile-lines:before { content: "\ea5c"; }
.slc-filfile-music:before { content: "\ea5d"; }
.slc-filfile-paste:before { content: "\ea5e"; }
.slc-filfile-pdf:before { content: "\ea5f"; }
.slc-filfile-pen:before { content: "\ea60"; }
.slc-filfile-ppt:before { content: "\ea61"; }
.slc-filfile-search:before { content: "\ea62"; }
.slc-filfile-shield:before { content: "\ea63"; }
.slc-filfile-video:before { content: "\ea64"; }
.slc-filfile-word:before { content: "\ea65"; }
.slc-filfile-zip:before { content: "\ea66"; }
.slc-filfile:before { content: "\ea67"; }
.slc-filfilter:before { content: "\ea68"; }
.slc-filfire:before { content: "\ea69"; }
.slc-filflag:before { content: "\ea6a"; }
.slc-filflowbite:before { content: "\ea6b"; }
.slc-filfolder-arrow-right:before { content: "\ea6c"; }
.slc-filfolder-duplicate:before { content: "\ea6d"; }
.slc-filfolder-open:before { content: "\ea6e"; }
.slc-filfolder-plus:before { content: "\ea6f"; }
.slc-filfolder:before { content: "\ea70"; }
.slc-filforward-step:before { content: "\ea71"; }
.slc-filforward:before { content: "\ea72"; }
.slc-filgift-box:before { content: "\ea73"; }
.slc-filgithub:before { content: "\ea74"; }
.slc-filglobe:before { content: "\ea75"; }
.slc-filgoogle:before { content: "\ea76"; }
.slc-filgrid-plus:before { content: "\ea77"; }
.slc-filgrid:before { content: "\ea78"; }
.slc-filheadphones:before { content: "\ea79"; }
.slc-filheart:before { content: "\ea7a"; }
.slc-filhome:before { content: "\ea7b"; }
.slc-filhourglass:before { content: "\ea7c"; }
.slc-filhtml:before { content: "\ea7d"; }
.slc-filimage:before { content: "\ea7e"; }
.slc-filinbox-full:before { content: "\ea7f"; }
.slc-filinbox:before { content: "\ea80"; }
.slc-filindent:before { content: "\ea81"; }
.slc-filinfo-circle:before { content: "\ea82"; }
.slc-filjavascript:before { content: "\ea83"; }
.slc-filkeyboard:before { content: "\ea84"; }
.slc-fillabel:before { content: "\ea85"; }
.slc-fillandmark:before { content: "\ea86"; }
.slc-fillayers:before { content: "\ea87"; }
.slc-fillife-saver:before { content: "\ea88"; }
.slc-fillightbulb:before { content: "\ea89"; }
.slc-fillinkedin:before { content: "\ea8a"; }
.slc-fillist-music:before { content: "\ea8b"; }
.slc-fillock-open:before { content: "\ea8c"; }
.slc-fillock-time:before { content: "\ea8d"; }
.slc-fillock:before { content: "\ea8e"; }
.slc-filmail-box:before { content: "\ea8f"; }
.slc-filmap-pin-alt:before { content: "\ea90"; }
.slc-filmap-pin:before { content: "\ea91"; }
.slc-filmessage-caption:before { content: "\ea92"; }
.slc-filmessage-dots:before { content: "\ea93"; }
.slc-filmessages:before { content: "\ea94"; }
.slc-filmicrophone:before { content: "\ea95"; }
.slc-filmobile-phone:before { content: "\ea96"; }
.slc-filmoon:before { content: "\ea97"; }
.slc-filnewspaper:before { content: "\ea98"; }
.slc-filnpm:before { content: "\ea99"; }
.slc-filoutdent:before { content: "\ea9a"; }
.slc-filpalette:before { content: "\ea9b"; }
.slc-filpaper-plane:before { content: "\ea9c"; }
.slc-filparagraph:before { content: "\ea9d"; }
.slc-filpause:before { content: "\ea9e"; }
.slc-filpen-nib:before { content: "\ea9f"; }
.slc-filpen:before { content: "\eaa0"; }
.slc-filphone:before { content: "\eaa1"; }
.slc-filplay:before { content: "\eaa2"; }
.slc-filprinter:before { content: "\eaa3"; }
.slc-filprofile-card:before { content: "\eaa4"; }
.slc-filquestion-circle:before { content: "\eaa5"; }
.slc-filquote:before { content: "\eaa6"; }
.slc-filreact:before { content: "\eaa7"; }
.slc-filreceipt:before { content: "\eaa8"; }
.slc-filrectangle-list:before { content: "\eaa9"; }
.slc-filreply-all:before { content: "\eaaa"; }
.slc-filreply:before { content: "\eaab"; }
.slc-filrocket:before { content: "\eaac"; }
.slc-filsale-percent:before { content: "\eaad"; }
.slc-filscale-balanced:before { content: "\eaae"; }
.slc-filsearch:before { content: "\eaaf"; }
.slc-filshare-all:before { content: "\eab0"; }
.slc-filshare-nodes:before { content: "\eab1"; }
.slc-filshield-check:before { content: "\eab2"; }
.slc-filshield:before { content: "\eab3"; }
.slc-filshopping-bag:before { content: "\eab4"; }
.slc-filsingleSlice:before { content: "\eab5"; }
.slc-filsliceJs:before { content: "\eab6"; }
.slc-filsliceLogo:before { content: "\eab7"; }
.slc-filslicePizza:before { content: "\eab8"; }
.slc-filstackoverflow:before { content: "\eab9"; }
.slc-filstar-half-stroke:before { content: "\eaba"; }
.slc-filstar-half:before { content: "\eabb"; }
.slc-filstar:before { content: "\eabc"; }
.slc-filstore:before { content: "\eabd"; }
.slc-filsun:before { content: "\eabe"; }
.slc-filswatchbook:before { content: "\eabf"; }
.slc-filtable-column:before { content: "\eac0"; }
.slc-filtable-row:before { content: "\eac1"; }
.slc-filtablet:before { content: "\eac2"; }
.slc-filtag:before { content: "\eac3"; }
.slc-filtailwind:before { content: "\eac4"; }
.slc-filterminal:before { content: "\eac5"; }
.slc-filthumbs-down:before { content: "\eac6"; }
.slc-filthumbs-up:before { content: "\eac7"; }
.slc-filticket:before { content: "\eac8"; }
.slc-filtrash-bin:before { content: "\eac9"; }
.slc-filtruck:before { content: "\eaca"; }
.slc-filtwitter:before { content: "\eacb"; }
.slc-filupload:before { content: "\eacc"; }
.slc-filuser-add:before { content: "\eacd"; }
.slc-filuser-circle:before { content: "\eace"; }
.slc-filuser-edit:before { content: "\eacf"; }
.slc-filuser-headset:before { content: "\ead0"; }
.slc-filuser-remove:before { content: "\ead1"; }
.slc-filuser-settings:before { content: "\ead2"; }
.slc-filuser:before { content: "\ead3"; }
.slc-filusers-group:before { content: "\ead4"; }
.slc-filusers:before { content: "\ead5"; }
.slc-filvideo-camera:before { content: "\ead6"; }
.slc-filvolume-down:before { content: "\ead7"; }
.slc-filvolume-up:before { content: "\ead8"; }
.slc-filvue:before { content: "\ead9"; }
.slc-filwallet:before { content: "\eada"; }
.slc-filwand-magic-sparkles:before { content: "\eadb"; }
.slc-filwindow-restore:before { content: "\eadc"; }
.slc-filwindow:before { content: "\eadd"; }
.slc-filX:before { content: "\eade"; }
.slc-filyoutube:before { content: "\eadf"; }
.slc-filzoom-in:before { content: "\eae0"; }
.slc-filzoom-out:before { content: "\eae1"; }
.slc-outaddress-book:before { content: "\eae2"; }
.slc-outadjustments-horizontal:before { content: "\eae3"; }
.slc-outadjustments-vertical:before { content: "\eae4"; }
.slc-outalign-center:before { content: "\eae5"; }
.slc-outangle-down:before { content: "\eae6"; }
.slc-outangle-left:before { content: "\eae7"; }
.slc-outangle-right:before { content: "\eae8"; }
.slc-outangle-up:before { content: "\eae9"; }
.slc-outannotation:before { content: "\eaea"; }
.slc-outarchive-arrow-down:before { content: "\eaeb"; }
.slc-outarchive:before { content: "\eaec"; }
.slc-outarrow-down-to-bracket:before { content: "\eaed"; }
.slc-outarrow-down:before { content: "\eaee"; }
.slc-outarrow-left-to-bracket:before { content: "\eaef"; }
.slc-outarrow-left:before { content: "\eaf0"; }
.slc-outarrow-right-alt:before { content: "\eaf1"; }
.slc-outarrow-right-to-bracket:before { content: "\eaf2"; }
.slc-outarrow-right:before { content: "\eaf3"; }
.slc-outarrow-sort-letters:before { content: "\eaf4"; }
.slc-outarrow-up-down:before { content: "\eaf5"; }
.slc-outarrow-up-from-bracket:before { content: "\eaf6"; }
.slc-outarrow-up-right-down-left:before { content: "\eaf7"; }
.slc-outarrow-up-right-from-square:before { content: "\eaf8"; }
.slc-outarrow-up:before { content: "\eaf9"; }
.slc-outarrows-repeat-count:before { content: "\eafa"; }
.slc-outarrows-repeat:before { content: "\eafb"; }
.slc-outatom:before { content: "\eafc"; }
.slc-outbackward-step:before { content: "\eafd"; }
.slc-outbadge-check:before { content: "\eafe"; }
.slc-outbars-from-left:before { content: "\eaff"; }
.slc-outbars:before { content: "\eb00"; }
.slc-outbell-active-alt:before { content: "\eb01"; }
.slc-outbell-active:before { content: "\eb02"; }
.slc-outbell-ring:before { content: "\eb03"; }
.slc-outbell:before { content: "\eb04"; }
.slc-outblender-phone:before { content: "\eb05"; }
.slc-outbook-open:before { content: "\eb06"; }
.slc-outbook:before { content: "\eb07"; }
.slc-outbookmark:before { content: "\eb08"; }
.slc-outbrain:before { content: "\eb09"; }
.slc-outbriefcase:before { content: "\eb0a"; }
.slc-outbug:before { content: "\eb0b"; }
.slc-outbuilding:before { content: "\eb0c"; }
.slc-outbullhorn:before { content: "\eb0d"; }
.slc-outcalendar-edit:before { content: "\eb0e"; }
.slc-outcalendar-month:before { content: "\eb0f"; }
.slc-outcalendar-plus:before { content: "\eb10"; }
.slc-outcalendar-week:before { content: "\eb11"; }
.slc-outcamera-photo:before { content: "\eb12"; }
.slc-outcaption:before { content: "\eb13"; }
.slc-outcaret-down:before { content: "\eb14"; }
.slc-outcaret-left:before { content: "\eb15"; }
.slc-outcaret-right:before { content: "\eb16"; }
.slc-outcaret-sort:before { content: "\eb17"; }
.slc-outcaret-up:before { content: "\eb18"; }
.slc-outcart-plus-alt:before { content: "\eb19"; }
.slc-outcart-plus:before { content: "\eb1a"; }
.slc-outcart:before { content: "\eb1b"; }
.slc-outcash:before { content: "\eb1c"; }
.slc-outchart-line-down:before { content: "\eb1d"; }
.slc-outchart-line-up:before { content: "\eb1e"; }
.slc-outchart-mixed-dollar:before { content: "\eb1f"; }
.slc-outchart-mixed:before { content: "\eb20"; }
.slc-outchart-pie:before { content: "\eb21"; }
.slc-outchart:before { content: "\eb22"; }
.slc-outcheck-circle:before { content: "\eb23"; }
.slc-outcheck-plus-circle:before { content: "\eb24"; }
.slc-outcheck:before { content: "\eb25"; }
.slc-outchevron-double-down:before { content: "\eb26"; }
.slc-outchevron-double-left:before { content: "\eb27"; }
.slc-outchevron-double-right:before { content: "\eb28"; }
.slc-outchevron-double-up:before { content: "\eb29"; }
.slc-outchevron-down:before { content: "\eb2a"; }
.slc-outchevron-left:before { content: "\eb2b"; }
.slc-outchevron-right:before { content: "\eb2c"; }
.slc-outchevron-sort:before { content: "\eb2d"; }
.slc-outchevron-up:before { content: "\eb2e"; }
.slc-outcircle-pause:before { content: "\eb2f"; }
.slc-outcircle-plus:before { content: "\eb30"; }
.slc-outclapperboard-play:before { content: "\eb31"; }
.slc-outclipboard-check:before { content: "\eb32"; }
.slc-outclipboard-list:before { content: "\eb33"; }
.slc-outclipboard:before { content: "\eb34"; }
.slc-outclock:before { content: "\eb35"; }
.slc-outclose-circle:before { content: "\eb36"; }
.slc-outclose:before { content: "\eb37"; }
.slc-outcloud-arrow-up:before { content: "\eb38"; }
.slc-outcode-branch:before { content: "\eb39"; }
.slc-outcode-fork:before { content: "\eb3a"; }
.slc-outcode-merge:before { content: "\eb3b"; }
.slc-outcode-pull-request:before { content: "\eb3c"; }
.slc-outcode:before { content: "\eb3d"; }
.slc-outcog:before { content: "\eb3e"; }
.slc-outcolumn:before { content: "\eb3f"; }
.slc-outcommand:before { content: "\eb40"; }
.slc-outcompress:before { content: "\eb41"; }
.slc-outcomputer-speaker:before { content: "\eb42"; }
.slc-outcredit-card:before { content: "\eb43"; }
.slc-outdatabase:before { content: "\eb44"; }
.slc-outdesktop-pc:before { content: "\eb45"; }
.slc-outdna:before { content: "\eb46"; }
.slc-outdollar:before { content: "\eb47"; }
.slc-outdots-horizontal:before { content: "\eb48"; }
.slc-outdots-vertical:before { content: "\eb49"; }
.slc-outdownload:before { content: "\eb4a"; }
.slc-outdraw-square:before { content: "\eb4b"; }
.slc-outedit:before { content: "\eb4c"; }
.slc-outenvelope-open:before { content: "\eb4d"; }
.slc-outenvelope:before { content: "\eb4e"; }
.slc-outeuro:before { content: "\eb4f"; }
.slc-outexclamation-circle:before { content: "\eb50"; }
.slc-outexpand:before { content: "\eb51"; }
.slc-outeye-slash:before { content: "\eb52"; }
.slc-outeye:before { content: "\eb53"; }
.slc-outface-explode:before { content: "\eb54"; }
.slc-outface-grin-stars:before { content: "\eb55"; }
.slc-outface-grin:before { content: "\eb56"; }
.slc-outface-laugh:before { content: "\eb57"; }
.slc-outfile-chart-bar:before { content: "\eb58"; }
.slc-outfile-check:before { content: "\eb59"; }
.slc-outfile-circle-plus:before { content: "\eb5a"; }
.slc-outfile-clone:before { content: "\eb5b"; }
.slc-outfile-code:before { content: "\eb5c"; }
.slc-outfile-copy-alt:before { content: "\eb5d"; }
.slc-outfile-copy:before { content: "\eb5e"; }
.slc-outfile-csv:before { content: "\eb5f"; }
.slc-outfile-export:before { content: "\eb60"; }
.slc-outfile-image:before { content: "\eb61"; }
.slc-outfile-import:before { content: "\eb62"; }
.slc-outfile-invoice:before { content: "\eb63"; }
.slc-outfile-lines:before { content: "\eb64"; }
.slc-outfile-music:before { content: "\eb65"; }
.slc-outfile-paste:before { content: "\eb66"; }
.slc-outfile-pdf:before { content: "\eb67"; }
.slc-outfile-pen:before { content: "\eb68"; }
.slc-outfile-ppt:before { content: "\eb69"; }
.slc-outfile-search:before { content: "\eb6a"; }
.slc-outfile-shield:before { content: "\eb6b"; }
.slc-outfile-video:before { content: "\eb6c"; }
.slc-outfile-word:before { content: "\eb6d"; }
.slc-outfile-zip:before { content: "\eb6e"; }
.slc-outfile:before { content: "\eb6f"; }
.slc-outfilter:before { content: "\eb70"; }
.slc-outfingerprint:before { content: "\eb71"; }
.slc-outfire:before { content: "\eb72"; }
.slc-outflag:before { content: "\eb73"; }
.slc-outfolder-arrow-right:before { content: "\eb74"; }
.slc-outfolder-duplicate:before { content: "\eb75"; }
.slc-outfolder-open:before { content: "\eb76"; }
.slc-outfolder-plus:before { content: "\eb77"; }
.slc-outfolder:before { content: "\eb78"; }
.slc-outforward-step:before { content: "\eb79"; }
.slc-outforward:before { content: "\eb7a"; }
.slc-outgift-box:before { content: "\eb7b"; }
.slc-outglobe:before { content: "\eb7c"; }
.slc-outgrid-plus:before { content: "\eb7d"; }
.slc-outgrid:before { content: "\eb7e"; }
.slc-outheadphones:before { content: "\eb7f"; }
.slc-outheart:before { content: "\eb80"; }
.slc-outhome:before { content: "\eb81"; }
.slc-outhourglass:before { content: "\eb82"; }
.slc-outimage:before { content: "\eb83"; }
.slc-outinbox-full:before { content: "\eb84"; }
.slc-outinbox:before { content: "\eb85"; }
.slc-outindent:before { content: "\eb86"; }
.slc-outinfo-circle:before { content: "\eb87"; }
.slc-outkeyboard:before { content: "\eb88"; }
.slc-outlabel:before { content: "\eb89"; }
.slc-outlandmark:before { content: "\eb8a"; }
.slc-outlayers:before { content: "\eb8b"; }
.slc-outletter-bold:before { content: "\eb8c"; }
.slc-outletter-italic:before { content: "\eb8d"; }
.slc-outletter-underline:before { content: "\eb8e"; }
.slc-outlife-saver:before { content: "\eb8f"; }
.slc-outlightbulb:before { content: "\eb90"; }
.slc-outlink:before { content: "\eb91"; }
.slc-outlist-music:before { content: "\eb92"; }
.slc-outlist:before { content: "\eb93"; }
.slc-outlock-open:before { content: "\eb94"; }
.slc-outlock-time:before { content: "\eb95"; }
.slc-outlock:before { content: "\eb96"; }
.slc-outmail-box:before { content: "\eb97"; }
.slc-outmap-pin-alt:before { content: "\eb98"; }
.slc-outmap-pin:before { content: "\eb99"; }
.slc-outmessage-caption:before { content: "\eb9a"; }
.slc-outmessage-dots:before { content: "\eb9b"; }
.slc-outmessages:before { content: "\eb9c"; }
.slc-outmicrophone:before { content: "\eb9d"; }
.slc-outminimize:before { content: "\eb9e"; }
.slc-outminus:before { content: "\eb9f"; }
.slc-outmobile-phone:before { content: "\eba0"; }
.slc-outmoon:before { content: "\eba1"; }
.slc-outnewspaper:before { content: "\eba2"; }
.slc-outordered-list:before { content: "\eba3"; }
.slc-outoutdent:before { content: "\eba4"; }
.slc-outpalette:before { content: "\eba5"; }
.slc-outpaper-clip:before { content: "\eba6"; }
.slc-outpaper-plane:before { content: "\eba7"; }
.slc-outparagraph:before { content: "\eba8"; }
.slc-outpause:before { content: "\eba9"; }
.slc-outpen-nib:before { content: "\ebaa"; }
.slc-outpen:before { content: "\ebab"; }
.slc-outphone:before { content: "\ebac"; }
.slc-outplay:before { content: "\ebad"; }
.slc-outplus:before { content: "\ebae"; }
.slc-outprinter:before { content: "\ebaf"; }
.slc-outprofile-card:before { content: "\ebb0"; }
.slc-outquestion-circle:before { content: "\ebb1"; }
.slc-outquote:before { content: "\ebb2"; }
.slc-outreceipt:before { content: "\ebb3"; }
.slc-outrectangle-list:before { content: "\ebb4"; }
.slc-outredo:before { content: "\ebb5"; }
.slc-outrefresh:before { content: "\ebb6"; }
.slc-outreply-all:before { content: "\ebb7"; }
.slc-outreply:before { content: "\ebb8"; }
.slc-outrestore-window:before { content: "\ebb9"; }
.slc-outrocket:before { content: "\ebba"; }
.slc-outruler-combined:before { content: "\ebbb"; }
.slc-outsale-percent:before { content: "\ebbc"; }
.slc-outscale-balanced:before { content: "\ebbd"; }
.slc-outsearch:before { content: "\ebbe"; }
.slc-outshare-all:before { content: "\ebbf"; }
.slc-outshare-nodes:before { content: "\ebc0"; }
.slc-outshield-check:before { content: "\ebc1"; }
.slc-outshield:before { content: "\ebc2"; }
.slc-outshopping-bag:before { content: "\ebc3"; }
.slc-outshuffle:before { content: "\ebc4"; }
.slc-outsort-horizontal:before { content: "\ebc5"; }
.slc-outsort:before { content: "\ebc6"; }
.slc-outstar-half-stroke:before { content: "\ebc7"; }
.slc-outstar-half:before { content: "\ebc8"; }
.slc-outstar:before { content: "\ebc9"; }
.slc-outstore:before { content: "\ebca"; }
.slc-outsun:before { content: "\ebcb"; }
.slc-outswatchbook:before { content: "\ebcc"; }
.slc-outtable-column:before { content: "\ebcd"; }
.slc-outtable-row:before { content: "\ebce"; }
.slc-outtablet:before { content: "\ebcf"; }
.slc-outtag:before { content: "\ebd0"; }
.slc-outterminal:before { content: "\ebd1"; }
.slc-outtext-size:before { content: "\ebd2"; }
.slc-outtext-slash:before { content: "\ebd3"; }
.slc-outthumbs-down:before { content: "\ebd4"; }
.slc-outthumbs-up:before { content: "\ebd5"; }
.slc-outticket:before { content: "\ebd6"; }
.slc-outtrash-bin:before { content: "\ebd7"; }
.slc-outtruck:before { content: "\ebd8"; }
.slc-outundo:before { content: "\ebd9"; }
.slc-outupload:before { content: "\ebda"; }
.slc-outuser-add:before { content: "\ebdb"; }
.slc-outuser-circle:before { content: "\ebdc"; }
.slc-outuser-edit:before { content: "\ebdd"; }
.slc-outuser-headset:before { content: "\ebde"; }
.slc-outuser-remove:before { content: "\ebdf"; }
.slc-outuser-settings:before { content: "\ebe0"; }
.slc-outuser:before { content: "\ebe1"; }
.slc-outusers-group:before { content: "\ebe2"; }
.slc-outusers:before { content: "\ebe3"; }
.slc-outvideo-camera:before { content: "\ebe4"; }
.slc-outvolume-down:before { content: "\ebe5"; }
.slc-outvolume-up:before { content: "\ebe6"; }
.slc-outwallet:before { content: "\ebe7"; }
.slc-outwand-magic-sparkles:before { content: "\ebe8"; }
.slc-outwindow:before { content: "\ebe9"; }
.slc-outzoom-in:before { content: "\ebea"; }
.slc-outzoom-out:before { content: "\ebeb"; }
