.slice_select_dropdown {
  font-family: var(--font-family);
  max-width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;
}
.slice_select_container {
  cursor: pointer;
  display: flex;
  padding: 10px;
  border-radius: var(--border-radius-slice);
  border: var(--slice-border) solid var(--primary-color);
  background-color: var(--primary-background-color);
  justify-content: space-between;
  align-items: center;
}
.slice_select {
  pointer-events: none;
  color: var(--font-primary-color);
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.slice_select_label {
  color: var(--primary-color);
  position: absolute;
  transition: all 0.5s;
  user-select: none;
}
.slice_select_value {
  scale: 0.8;
  transform: translateY(-200%);
  transition: all 0.5s;
}
.slice_select_menu {
  display: none;
  border: var(--slice-border) solid var(--primary-color);
  list-style: none;
  font-family: var(--font-family);
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transition: 0s, opacity 0.3s;
  top: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--primary-background-color);
  border-radius: var(--border-radius-slice);
  box-shadow: 0 0 10px 0 #00000050;
  div {
    color: var(--font-primary-color);
    cursor: pointer;
    padding: 10px;
    &:hover {
      color: var(--secondary-color-contrast);
      background-color: var(--secondary-color);
    }
  }
}
.menu_open {
  display: block;
  overflow-y: scroll;
  min-height: min-content;
  max-height: 400%;
  visibility: visible;
  opacity: 1;
}
.menu_open::-webkit-scrollbar {
  width: 5px;
}
.menu_open::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--border-radius-slice);
}
.active {
  /* color: var(--primary-color); */
  background-color: var(--secondary-background-color);
}
.slice_select_container .caret {
  border-top-color: var(--primary-color);
}
