/* 
.landing_page {
  font-family: var(--font-family);
  color: var(--font-primary-color);
  overflow-y: scroll;
  overflow-x: hidden;
  width: var(--docs-width);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}
  */

.container {
  background-color: var(--primary-background-color);
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.js_container,
.css_container,
.html_container {
  width: 100%;
}
