.codevisualizer_container {
  max-width: 100%;
  background-color: whitesmoke;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  overflow-x: scroll;
}

.codevisualizer {
  border-radius: 10px;
}
