.slice_button_container {
  padding: 10px;
}
.slice_button_value {
  user-select: none;
  cursor: pointer;
}
.slice_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  max-width: fit-content;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  border-radius: var(--border-radius-slice);
  border: var(--slice-border) solid var(--primary-color);
  font-weight: 800;
  min-width: 100%;
  padding: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.slice_button:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #ffffff50;
  position: absolute;
  display: block;
  opacity: 0;
  scale: 10;
  transition: all 1s;
}
.slice_button:active {
  transform: translateY(5px);
}
.slice_button:active:after {
  scale: 0;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
